h1 {font-size: 100px;}
body {
  background-color: #d8b3a5;
}
.GFG {
            background-color: red;
            border: 3px solid black;
            color: black;
            padding: 10px 10px;
            text-align: center;
            display: inline-block;
            font-size: 25px;
            cursor: pointer;
            text-decoration:none;
        }

button {border-radius: 50%;}
h3 {
  font-size: 35px;
}
